:root {
  --header-height: 40px;
  --nav-width: 250px;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  line-height: 1.4rem;
}

body {
  margin: 0;
  font-family: Consolas, monaco, monospace;
/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
}

header {
  height: var(--header-height);
/*  background-color: rgb(22, 22, 24);*/
  background-color: #121212ff;
  border-bottom: 1px solid #303030;
  display: block;
  color: #ffffff;
  font-size: 0; /* avoid space between inline block elements */
}

header a {
  display: inline-flex;
  margin: 0;
  font-size: 14.5px;
  line-height: var(--header-height);
  color: #ffffff;
  text-decoration: none;
  margin-left: 26px;
  text-indent: 32px;
}

header a img {
  height: calc(var(--header-height) - 1px);
}

header > div {
  position: absolute;
  top: 0;
  right: 0;
}

header > div > p {
  display: inline-block;
}

header > div > sc-switch {
  height: var(--header-height);
  border-radius: 0;
  border-top: none;
}

header > div > sc-text {
  height: var(--header-height);
  line-height: calc(var(--header-height) - 16px);
  border-radius: 0;
  width: 180px;
}

header > div > sc-button {
  height: var(--header-height);
}

header > div > sc-icon {
  height: var(--header-height);
  width: var(--header-height);
}

#main {
  display: flex;
  min-height: calc(100vh - var(--header-height));
  position: relative;
}

#main nav {
/*  background-color: #1e1e20;*/
  background-color: #1e1f1b;
/*  background-color: rgb(22, 22, 24);*/
  display: block;
  width: var(--nav-width);
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  padding: 30px 0;
  border-right: 1px solid #303030;
}

#main section {
  display: block;
  height: calc(100vh - var(--header-height));
  width: calc(100vw - var(--nav-width));
  background-color: black;
  overflow-y: auto;
  padding: 20px 40px 20px 50px;
}

header #toggle-menu {
  display: none;
}

/* be a bit friendly for small screen */
@media only screen and (max-width: 768px) {
  header #toggle-menu {
    display: inline-block;
  }

  header sc-text {
    display: none;
  }

  #main nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    border-right: none;
    border-left: 1px solid #303030;
  }
  #main nav.active {
    display: block;
  }

  #main section {
    width: 100%;
    padding: 20px 26px;
  }
}

#main nav p {
  color: white;
  font-size: 1.4rem;
  margin-top: 30px;
  padding-left: 26px;
  text-align: left;
  font-weight: bold;
  color: #92918a;
}

#main nav a {
  color: white;
  font-size: 1.15rem;
  display: block;
  height: 26px;
  line-height: 18px;
  padding: 4px 26px;
  text-align: left;
}

#main nav a:hover {
  background-color: #6a6a69ff;
/*  background-color: #565656;*/
}

#main nav a.selected {
/*  background-color: #787878;*/
  background-color: #3d3e39ff;
}

#main section h1 {
  margin-top: 18px;
  margin-bottom: 50px;
  font-size: 3rem;
}

#main section h2 {
  margin-top: 18px;
  margin-bottom: 30px;
  font-size: 2.4rem;
}

#main section h3 {
  margin-top: 0;
  font-size: 1.6rem;
  margin-top: 50px;
}

#main section p {
  margin: 20px 0 14px;
  font-weight: light;
  font-size: 1.15rem;
  line-height: 1.9rem;
  max-width: 900px;
}

#main section .key {
  background-color: var(--sc-color-primary-2);
  width: auto;
  padding: 4px 16px 6px;
  border: 1px solid var(--sc-color-primary-3);
  border-radius: 3px;
}

#main section .key.large {
  font-size: 18px;
}

#main section sc-code-example {
  max-width: 900px;
}

#main section a {
  color: inherit;
}

#main section div {
  margin: 4px 0;
}

#main section.light {
  color: #000;
  background-color: #fff;
}

#main section.dark {
  color: #fff;
  background-color: #000;
}

#main section #homepage #demo {
  margin: 30px 0;
}

#main section #homepage #demo > * {
  margin: 4px 2px;
}

#main section #homepage p {
  margin-top: 24px;
}

.test {
  background-color: var(--sc-color-primary-1);
  width: 100px;
  height: 100px;
  outline: 1px solid red;
}
