/* Coolors Exported Palette - https://coolors.co/121212-272822-3d3e39-6a6a69-9b9b9b-f0db4f-1c78c0 */

/* CSS */
--rich-black-fogra-39: hsla(0, 0%, 7%, 1);
--pine-tree: hsla(70, 15%, 16%, 1);
--black-olive: hsla(72, 8%, 24%, 1);
--dim-gray: hsla(60, 1%, 42%, 1);
--spanish-gray: hsla(0, 0%, 61%, 1);
--minion-yellow: hsla(52, 67%, 94%, 1);
--spanish-blue: hsla(206, 85%, 75%, 1);

/* SCSS HEX */
$rich-black-fogra-39: #121212ff;
$pine-tree: #272822ff;
$black-olive: #3d3e39ff;
$dim-gray: #6a6a69ff;
$spanish-gray: #9b9b9bff;
$minion-yellow: #f0db4fff;
$spanish-blue: #1c78c0ff;

/* SCSS HSL */
$rich-black-fogra-39: hsla(0, 0%, 7%, 1);
$pine-tree: hsla(70, 15%, 16%, 1);
$black-olive: hsla(72, 8%, 24%, 1);
$dim-gray: hsla(60, 1%, 42%, 1);
$spanish-gray: hsla(0, 0%, 61%, 1);
$minion-yellow: hsla(52, 67%, 94%, 1);
$spanish-blue: hsla(206, 85%, 75%, 1);

/* SCSS RGB */
$rich-black-fogra-39: rgba(18, 18, 18, 1);
$pine-tree: rgba(39, 40, 34, 1);
$black-olive: rgba(61, 62, 57, 1);
$dim-gray: rgba(106, 106, 105, 1);
$spanish-gray: rgba(155, 155, 155, 1);
$minion-yellow: rgba(240, 219, 79, 1);
$spanish-blue: rgba(28, 120, 192, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #121212ff, #272822ff, #3d3e39ff, #6a6a69ff, #9b9b9bff, #f0db4fff, #1c78c0ff);
$gradient-right: linear-gradient(90deg, #121212ff, #272822ff, #3d3e39ff, #6a6a69ff, #9b9b9bff, #f0db4fff, #1c78c0ff);
$gradient-bottom: linear-gradient(180deg, #121212ff, #272822ff, #3d3e39ff, #6a6a69ff, #9b9b9bff, #f0db4fff, #1c78c0ff);
$gradient-left: linear-gradient(270deg, #121212ff, #272822ff, #3d3e39ff, #6a6a69ff, #9b9b9bff, #f0db4fff, #1c78c0ff);
$gradient-top-right: linear-gradient(45deg, #121212ff, #272822ff, #3d3e39ff, #6a6a69ff, #9b9b9bff, #f0db4fff, #1c78c0ff);
$gradient-bottom-right: linear-gradient(135deg, #121212ff, #272822ff, #3d3e39ff, #6a6a69ff, #9b9b9bff, #f0db4fff, #1c78c0ff);
$gradient-top-left: linear-gradient(225deg, #121212ff, #272822ff, #3d3e39ff, #6a6a69ff, #9b9b9bff, #f0db4fff, #1c78c0ff);
$gradient-bottom-left: linear-gradient(315deg, #121212ff, #272822ff, #3d3e39ff, #6a6a69ff, #9b9b9bff, #f0db4fff, #1c78c0ff);
$gradient-radial: radial-gradient(#121212ff, #272822ff, #3d3e39ff, #6a6a69ff, #9b9b9bff, #f0db4fff, #1c78c0ff);