* {
  box-sizing: border-box;
  font-family: Consolas, monaco, monospace;
  /*font-family: Arial;*/
}

html, body {
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

h1 {
  font-size: 30px;
}

h2, h2 a {
  font-size: 24px;
  text-decoration: none;
}

h3 {
  font-size: 18px;
}

* {
  font-size: 12px;
}

p {
  margin: 2px 0;
}

body.light {
  background-color: #ffffff;
}

body.light * {
  color: #000000;
}

body.dark {
  background-color: #000000;
}

body.dark * {
  color: #ffffff;
}

body .menu {
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fefefe;
  padding: 20px;
  min-height: 100%;
  border-right: 1px solid #272822ff;
}

body .menu * {
  color: #000000;
}

.menu sc-button {
  margin-bottom: 4px;
}

.menu a {
  font-size: 12px;
  color: #000000;
  display: block;
  margin: 10px 0;
}

.content {
  margin-left: 280px;
}

pre {
  padding: 10px;
  border-radius: 4px;
  margin-right: 20px;
}

pre, code {
  background-color: #343434 !important;
  color: white !important;
}

/*.content .component {

}

.content .component .doc {
  width: 60%;
  float: left;
}

.content .component .example {
  font-size: 12px;
  width: 35%;
  float: right;
  margin-top: 50px;
}*/
